














body {
   background-color: black;
}
main {
   margin-top: 4rem;
   margin-bottom: 4rem;
   display: grid;
   justify-items: center;
   color: white;
}
.bentoRow {
   height: 15rem;
   width: 60rem;
   display: flex;
   justify-content: space-around;
   align-content: space-around;
   flex-wrap: wrap;
}
.longBox {
   width: 74%;
   height: 14.5rem;
   background-color: #1a1919fa;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   border-radius: 1rem;
}
.smallBox {
   width: 24%;
   background-color: #1a1919fa;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border-radius: 1rem;
}
.linkBox {
   position: relative;
   width: 100%;
   height: 100%;
   /* overflow: hidden;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   text-decoration: none;
   color: white; */
}
@keyframes textDrop {
   0% {
      top: -50%;
   }
   100% {
      top: 25px;
   }
}
.memojiPic {
   height: 10rem;
}
.spacePic {
   background-image: url('/images/spaceSite.png');
   background-size: 100%;
   background-position: center;
}
.teaPic {
   background-image: url('/images/teaSite.png');
   background-size: 100%;
   background-position: center;
}
h1 {
   font-family: "Bebas Neue", sans-serif;
   font-size: 4rem;
   margin: 0 auto 1rem;
}
h2 {
   font-family: "Poiret One", sans-serif;
   font-size: 2rem;
}
p {
   font-family: "Poiret One", sans-serif;
   font-size: 1.25rem;
   padding: 0 5rem;
}

/****************************************** MOBILE CSS ******************************************/

@media only screen and (max-width: 768px) {
   .bentoRow {
      height: 15rem;
      width: 40rem;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
   }
   .longBox {
      width: 90%;
      height: 14.5rem;
      background-color: #1a1919fa;
      display: flex;
      border-radius: 1rem;
   }
   .smallBox {
      display: none;
   }
}
