body {
   background-color: black;
}
main {
   margin-top: 4rem;
   margin-bottom: 4rem;
   display: grid;
   justify-items: center;
   color: white;
}
.bentoRow {
   height: 15rem;
   width: 60rem;
   display: flex;
   justify-content: space-around;
   align-content: space-around;
   flex-wrap: wrap;
}
.longBox {
   width: 74%;
   height: 14.5rem;
   background-color: #1a1919fa;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   border-radius: 1rem;
}
.smallBox {
   width: 24%;
   background-color: #1a1919fa;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 1rem;
}
img {
   height: 10rem;
}

/****************************************** MOBILE CSS ******************************************/

@media only screen and (max-width: 768px) {
   .bentoRow {
      height: 15rem;
      width: 40rem;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
   }
   .longBox {
      width: 90%;
      height: 14.5rem;
      background-color: #1a1919fa;
      display: flex;
      border-radius: 1rem;
   }
   .smallBox {
      display: none;
   }
}
