/* 
font-family: 'La Belle Aurore', cursive;
font-family: 'Playpen Sans', cursive; 
*/

* {
   text-align: center;
   margin-bottom: 0;
}

.colorBox {
   height: 90px;
   width: 80%;
   border-radius: 5px;
   margin: 2.5rem auto 0 auto;
}

.colorSage {
   background-color: rgb(105, 130, 105);
}

.colorBeige {
   background-color: rgb(241, 219, 191);
}

.colorBrown {
   background-color: rgb(185, 155, 107);
}

.colorMaroon {
   background-color: rgb(170, 86, 86);
}

.display-1,.display-3 {
   text-transform: uppercase;
}

.display-1 {
   margin-bottom: 0;
   text-decoration: underline;
}

.display-3 {
   margin-bottom: 3rem;
}

.display-5 {
   border-style: none none solid none;
   border-width: thick;
   margin-bottom: 2rem;
}

.display-7 {
   font-size: 2rem;
}

.belle {
   font-family: 'La Belle Aurore', cursive;
   margin-bottom: 0;
   margin-top: 4rem;
}

.playpen {
   font-family: 'Playpen Sans', cursive;
   margin-bottom: 1rem;
   margin-top: 6rem;
}

.playSpace {
   margin-bottom: 5rem;
}

.bigText {
   font-size: 2rem;
   text-decoration: underline;
}

.heading1 {
   font-size: 5rem;
   font-weight: 700;
   margin-bottom: 0;
}

.heading5 {
   font-size: 3.5rem;
   font-weight: 400;
   margin-bottom: 0;
   margin-top: 3rem;
}

.heading7 {
   margin-top: 3rem;
   margin-bottom: 0;
}

li {
   text-align: left !important;
}